<table class="table table-bordered table-striped">
	<thead>
		<tr>
			<td><strong>Topic</strong></td>
			<td><strong>User</strong></td>
			<td><strong>Posts</strong></td>
			<td><strong>Last Post</strong></td>
		</tr>
	</thead>
	<tbody>
		<% @topics.each do |topic| %>
			<tr>
				<td><%= topic.title %></td>
				<td><%= User.find(topic.user_id).username %></td>
				<td>Dummy Data</td>
				<td>Dummy Data</td>
			</tr>
		<% end %>
	</tbody>
</table>