<table class="table table-bordered table-striped">
	<thead>
		<tr>
			<td><strong>Topic</strong></td>
			<td><strong>User</strong></td>
			<td><strong>Created At</strong></td>
			<td><strong>Last Post</strong></td>
		</tr>
	</thead>
	<tbody>
		<% @topics.each do |topic| %>
			<tr>
				<td><%= link_to topic.title, "/topics/#{topic.id}" %></td>
				<td><%= User.find(topic.user_id).username %></td>
				<td><%= time_ago_in_words(topic.created_at) + " ago" %></td>
				<td>Dummy Data</td>
			</tr>
		<% end %>
	</tbody>
</table>